body{
  background:#468499;
}


h1{
  color:white;
  text-align:center;
}
h3
{
  color:white;
  text-align:center;
}

.iconslides {
  height:500px;
  position: relative;
  overflow: hidden;
}
@-webkit-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@moz-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

.images {
  background: url("http://www.msad.state.mn.us/Calendar-Icon.png");
  position: absolute;
  opacity:0.8;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: slideshow 60s linear infinite;
  -moz-animation:    slideshow 60s linear infinite;
}

#login{
  position: absolute;
  z-index: 1;
  margin: 250px auto auto 44%;
  border: 2px solid;
  background-color: #49CB8F;
  border-radius: 20px;
  width: 150px;
  height: 60px;
  display: block;
}

#signup{
  position: absolute;
  z-index: 1;
  margin: 175px auto auto 44%;
  border: 2px solid;
  background-color: #49CB8F;
  border-radius: 20px;
  width: 150px;
  height: 60px;
  display: block;
}


#l-s{
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: serif;
}

div h6{   /*legal stuff*/
  position: fixed;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 460px;
  margin-left: 47%;
}

/*For creating account*/
form{
  z-index: 1;
  position: relative;
  text-align:center;
  margin-top: 30px;
  color: white;
  font-family: serif;
}

.hidden{
  display: none;
}

br{
  text-align:center;
  float:right;
}
input{
  text-align:center;
}

/*      Navbar        */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  background-color: #636368;
  overflow: hidden;
  
}

li{
  display: inline;
  float: left;
  margin-left: 40px;
  color:white;
}

a{
  text-align: center;
  
  width:150px;
  font-weight: bold;
  font-family: Arial;
  color:white;
  text-decoration:none;
}

a:active {
color: black;
/*change color later*/

.nav{
color:white;
}