body{
  margin:40px 0;
  background:#468499;
  font-size:1.3em;
  font-family:sans-serif;
}
ul{
  display:inline;
  display:-webkit-flex;
  -webkit-flex-direction:row;
  -webkit-justify-content:space-between;
  -webkit-flex-wrap:wrap;
}
/*
.nav{
  position: relative;
  z-index: 1;
  margin:0 auto;
  padding:20px;
  width:80%;
  border:2px solid #1d2e3a;
  border-radius:10px;
  background:#3e5b70;
  list-style-type:none;
}
li{
  width:100px;height:100px;border-radius:50px;font-size:20px;color:#fff;line-height:100px;text-align:center;background:#000
  margin:10px;
  background:#70968C;
  color:#FFF;
}

.nav a{
  z-index: 1;
  display:block;
  padding:15px;
  color:inherit;
  ]text-decoration:none;
}

li:hover{
  opacity:0.2;
}
*/

a{
  text-decoration: none;
  color: inherit;
}


h1{
  color:white;
  text-align:center;
}
h3
{
  color:white;
  text-align:center;
}

.iconslides {
  height:500px;
  position: relative;
  overflow: hidden;
}
@-webkit-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@moz-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

.images {
  background: url("http://www.msad.state.mn.us/Calendar-Icon.png");
  position: absolute;
  opacity:0.8;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: slideshow 60s linear infinite;
  -moz-animation:    slideshow 60s linear infinite;
}

#login{
  position: absolute;
  z-index: 1;
  margin: 250px auto auto 44%;
  border: 2px solid;
  background-color: #49CB8F;
  border-radius: 20px;
  width: 150px;
  height: 60px;
  display: block;
}

#signup{
  position: absolute;
  z-index: 1;
  margin: 175px auto auto 44%;
  border: 2px solid;
  background-color: #49CB8F;
  border-radius: 20px;
  width: 150px;
  height: 60px;
  display: block;
}


#l-s{
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: serif;
}

div h6{   /*legal stuff*/
  position: fixed;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 460px;
  margin-left: 47%;
}

/*For creating account*/
form{
  z-index: 1;
  position: relative;
  text-align:center;
  margin-top: 30px;
  color: white;
  font-family: serif;
}

.hidden{
  display: none;
}

br{
  text-align:center;
  float:right;
}
input{
  text-align:center;
}