 form,h1,h4,h5,h6{
  text-align: center;
  margin: auto;
}
body{
  background-color: #FF0066;
}
input[name="time"]{
  width: 40px;
}
input[class="Acts"]{
  text-align: left;
}
h1{
  text-align: center;
margin-top:20px;
}

h5{
  display: inline-block;
  font-size: 20px;
}
br{
  height: 100px;
}
.progress{
  width: 1300px;
  margin: auto;
}
  
  
