  h1,h4,h5,h6,#WorkForm,#DoYouKnowForm,#SelectForm,#InputForm,#IdkForm{
text-align:center;}
.halftime{
  width: 20px;
  text-align: center;
}

input[name="length"]{
  width: 40px;
  text-align: center;
}

#bar0{
  opacity: .3
}
body{
 background-color:#9900CC;
}
